<html>
    <head>
        <title>decidder</title>
    </head>
    <body>
		<div>
			<img src="{{ protocol }}//{{ domain }}/assets/images/logo.png" width="170" height="36" alt="deccider logo" />
			<br><hr>	
		</div>
		<div style="margin-top:20px">
			The user <strong>{{ user.nick }}</strong> needs more information for your question

			<strong>{{ question.title }}</strong>
			<br><br>
			User question: <strong>{{ text }}</strong>
			<br><br>
			Click in the <a href="{{ protocol }}//{{ domain }}/question/{{ question._id }}">Link</a> to answer the question and let the users help you out!
			
		</div>
 </body>


</html>