{% include 'email/email-header.twig' %}

	<strong>Hello {{ questionOwner.nick }}</strong>,<br><br>
	<strong>{{ user.nick }}</strong> responded your question:

	<strong>{{ question.title }}</strong>
	<br><br>
	He says: <strong>{{ text }}</strong>
	<br><br>
	Click in the <a href="{{ protocol }}//{{ domain }}/question/{{ question._id }}">Link</a> to check the full response

{% include 'email/email-footer.twig' %}