{% include 'email/email-header.twig' %}

	<strong>Hello {{ doubtOwner.nick }}</strong>,<br><br>

	The creator of the question <strong>{{ question.title }}</strong> has responded to your doubt.

	<br><br>
	He says: <strong>{{ response }}</strong>
	<br><br>
	If you think the answer is good enough, click in this <a href="{{ protocol }}//{{ domain }}/question/{{ question._id }}">Link</a> to answer the question.

{% include 'email/email-footer.twig' %}