<html>
    <head>
        <title>decidder</title>
    </head>
    <body>
		<div>
			<img src="{{ protocol }}//{{ domain }}/assets/images/logo.png" width="170" height="36" alt="deccider logo" />
			<br><hr>	
		</div>
		<div style="margin-top:20px">
			The owner of the question has response your doubt:

			<strong>{{ doubt.text }}</strong>
			<br><br>
			The response: <strong>{{ response }}</strong>
			<br><br>
			Click in the <a href="{{ protocol }}//{{ domain }}/question/{{ question._id }}">Link</a> to check the full response
			
		</div>
 </body>


</html>