{% include 'email/email-header.twig' %}

	<strong>Hello {{ user.nick }},</strong><br><br>

	<strong>{{ user.nick }} </strong> has updated the context of the question:

	<strong>{{ question.title }}</strong><br><br>
	<strong>{{ question.context }}</strong><br><br>

	Click in the <a href="{{ protocol }}//{{ domain }}/question/{{ question._id }}">Link</a> to answer the question and let the users help you out!

{% include 'email/email-footer.twig' %}